<div class="d-flex mt-3 flex-column justify-content-center align-items-center">
  <div class="mb-3 mt-3 fw-medium">
    <app-signal-counter [Counter]="counterSignal()" />
  </div>
  <div class="mb-3 mt-3">
    <button class="btn btn-primary me-2" (click)="updateCount(1)">
      Update (+1)
    </button>
    <button class="btn btn-primary" (click)="updateCount(-1)">
      Update (-1)
    </button>
  </div>
  <div class="mb-3 mt-3">
    <form>
      <mat-form-field>
        <mat-label>Custom Count</mat-label>
        <input type="number" matInput value="0" #customfield />
      </mat-form-field>
    </form>
    <button class="btn btn-primary" (click)="setCount(customfield.value)">
      Set
    </button>
  </div>
</div>
