<div class="d-flex mt-3 flex-row justify-content-around">
  <div id="counterDiv">
    <div class="mb-3 mt-3 fw-medium">
      <app-signal-counter [Counter]="counterSignal()" />
    </div>
    <div class="mb-3 mt-3">
      <button class="btn btn-primary me-2" (click)="updateCount(1)">
        Update (+1)
      </button>
      <button class="btn btn-primary" (click)="updateCount(-1)">
        Update (-1)
      </button>
    </div>
    <div class="mb-3 mt-3">
      <form>
        <mat-form-field class="w-100">
          <mat-label>Custom Count</mat-label>
          <input type="number" matInput value="0" #customfield />
        </mat-form-field>
      </form>
      <button class="btn btn-primary" (click)="setCount(customfield.value)">
        Set
      </button>
    </div>
  </div>
  <div id="arrDiv">
    <div class="mb-3 mt-3">
      <div class="d-flex justify-content-between align-items-center gap-1">
        <div>
          <p *ngFor="let day of arrSignal()">{{ day }}</p>
        </div>
        <div>
          <p *ngFor="let day of computedArrSignal()">{{ day }}</p>
        </div>
      </div>
      <form>
        <mat-form-field class="w-100">
          <mat-label>Add Day</mat-label>
          <input type="text" matInput #dayfield />
        </mat-form-field>
      </form>
      <div class="d-flex justify-content-between align-items-center">
        <button
          class="btn btn-primary"
          (click)="mutateArr(dayfield.value)"
          [disabled]="dayfield.value === ''"
        >
          Mutate
        </button>
      </div>
      <div
        class="d-flex justify-content-between align-items-center gap-1 mt-3 mb-3"
      >
        <mat-slide-toggle
          color="primary"
          [checked]="caseSignal()"
          (toggleChange)="toggledCasing()"
        >
          {{ caseSignal() ? "Upper Case" : "Lower Case" }}
        </mat-slide-toggle>
        <mat-slide-toggle
          color="primary"
          [checked]="arrModifiedEffect"
          (toggleChange)="toggledNotification()"
        >
          {{ "Notification " + (arrModifiedEffect ? "ON" : "OFF") }}
        </mat-slide-toggle>
      </div>
      <div
        class="d-flex justify-content-between align-items-center gap-1 mt-3 mb-3"
      >
        <mat-slide-toggle
          color="primary"
          [checked]="untrackedCountSignal()"
          (toggleChange)="toggledTacking()"
          [disabled]="!caseSignal()"
        >
          {{ "UnTracked Count: " + (untrackedCountSignal() ? "ON" : "OFF") }}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
